*.dll
db/
System.*/
Microsoft.*/
Newtonsoft.*/
bin/
RoomsApiCrud/.vs/
RoomsApiCrud/bin/
RoomsApiCrud/.vscode/
RoomsApiCrud/obj
RoomsApiCrud/bin
RoomsApiCrud/Dapper.2.0.143/.signature.p7s
RoomsApiCrud/Dapper.2.0.143/Dapper.2.0.143.nupkg
RoomsApiCrud/Dapper.2.0.143/Dapper.png
RoomsApiCrud/Dapper.2.0.143/lib/netstandard2.0/Dapper.xml
RoomsApiCrud/Dapper.2.0.143/lib/net5.0/Dapper.xml
RoomsApiCrud/Dapper.2.0.143/lib/net461/Dapper.xml
