*.dll
db/
System.*/
Microsoft.*/
Newtonsoft.*/
bin/
RoomsApiCrud/.vs/
RoomsApiCrud/bin/
RoomsApiCrud/.vscode/
RoomsApiCrud/obj
RoomsApiCrud/bin
RoomsApiCrud/Dapper*
RoomsApiAngular
AngularHarpreet/bin
AngularHarpreet/.git
AngularHarpreet/.vs
AngularHarpreet/GPUCache
AngularHarpreet/node_modules
AngularHarpreet/obj